@{
  Layout = "_Layout";
}

<h1>Add An Object</h1>
<form action="/class" method="post">
  <label for="objectName">Object Name</label>
  <input id="objectName" name="objectName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back To Home</a></p>
<p><a href="/categories">Back To List of Objects</a></p>