@{
  Layout = "_Layout";
}

<h1>Add A record</h1>
<form action="/records" method="post">
  <label for="record">Record Title</label>
  <input id="record" name="record" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back To Home</a></p>
<p><a href="/records">Back To List of Records</a></p>