@{
  Layout = "_Layout";
}

<h1>Add A record</h1>
<form action='/artists/@Model.Id/' method="post">
  <input id="artistId" name="artistId" type="hidden" value="@Model.Id">
  <label for="recordDescription">Record Title</label>
  <input id="recordDescription" name="recordDescription" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/artists">Back To Artists</a></p>