@{
  Layout = "_Layout";
}

<h1>Record Details: </h1>

<h2>@Model["record"].AlbumTitle</h2>

<a href='/records/new'>Add A Record</a><br>
<a href='/records'>View Records</a><br>
<a href='/'>Back to Home</a>